[submodule "core"]
	path = core
	url = git@github.com:socek/impaf.git
[submodule "jinja2"]
	path = jinja2
	url = git@github.com:socek/impaf-jinja2.git
[submodule "example"]
	path = example
	url = git@github.com:socek/impex.git
[submodule "haml"]
	path = haml
	url = git@github.com:socek/impaf-haml.git
[submodule "beaker"]
	path = beaker
	url = git@github.com:socek/impaf-beaker.git
[submodule "sqlalchemy"]
	path = sqlalchemy
	url = git@github.com:socek/impaf-sqlalchemy.git
[submodule "alembic"]
	path = alembic
	url = git@github.com:socek/impaf-alembic.git
[submodule "fanstatic"]
	path = fanstatic
	url = git@github.com:socek/impaf-fanstatic.git
[submodule "formskit"]
	path = formskit
	url = git@github.com:socek/impaf-formskit.git
[submodule "flashmsg"]
	path = flashmsg
	url = git@github.com:socek/impaf-flashmsg.git
